<section class="program">
  <div class="container">

    <div class="program__header">
      <h2 class="program__title">
        Sobre o Programa
      </h2>

      <span class="program__divider"></span>
    </div>

    <div class="program__cards">

      {{#get "posts" filter="slug:lei-do-programa" limit="1"}}
        {{#foreach posts}}
          <a href="{{url}}" class="program__card">
            <div class="program__icon">
              <img src="{{asset 'images/papel.png'}}" alt="" />
            </div>
            <div class="program__content">
              <h4>{{title}}</h4>
              <span>Base legal</span>
            </div>
          </a>
        {{/foreach}}
      {{/get}}

      {{#get "posts" filter="slug:quem-e-celso-furtado" limit="1"}}
        {{#foreach posts}}
          <a href="{{url}}" class="program__card">
            <div class="program__icon">
              <img src="{{asset 'images/celso.png'}}" alt="" />
            </div>
            <div class="program__content">
              <h4>{{title}}</h4>
            </div>
          </a>
        {{/foreach}}
      {{/get}}

      {{#get "posts" filter="slug:historico-do-programa" limit="1"}}
        {{#foreach posts}}
          <a href="{{url}}" class="program__card">
            <div class="program__icon">
              <img src="{{asset 'images/calendario.png'}}" alt="" />
            </div>
            <div class="program__content">
              <h4>{{title}}</h4>
            </div>
          </a>
        {{/foreach}}
      {{/get}}

      {{#get "posts" filter="slug:conheca-a-equipe" limit="1"}}
        {{#foreach posts}}
          <a href="{{url}}" class="program__card">
            <div class="program__icon">
              <img src="{{asset 'images/laptop.png'}}" alt="" />
            </div>
            <div class="program__content">
              <h4>{{title}}</h4>
            </div>
          </a>
        {{/foreach}}
      {{/get}}

    </div>

    <div class="program__info">

      <div class="program__block">

        <div class="program__block-icon">
          <img src="{{asset 'images/brasil.png'}}" alt="Brasil" />
        </div>

        <div class="program__block-content">

          <h3>Níveis de atuação</h3>

          <div class="program__tags">
            <a href="/municipal/" class="program__tag">Municipal</a>
            <a href="/estadual/" class="program__tag">Estadual</a>
            <a href="/federal/" class="program__tag">Federal</a>
          </div>

        </div>

      </div>

      <div class="program__block">

        <div class="program__block-icon">
          <img src="{{asset 'images/quadrados.png'}}" alt="Quadrados" />
        </div>

        <div class="program__block-content">

          <h3>Eixos temáticos</h3>

          <div class="program__tags">
            <a href="/cultura/" class="program__tag">Cultura</a>
            <a href="/educacao/" class="program__tag">Educação</a>
            <a href="/territorio/" class="program__tag">Território</a>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>